*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: tan;
}

  .btn {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: rgb(107, 70, 158);
    cursor: pointer;
    text-shadow:
     0.025em 0.025em 0 yellow,
     0.05em 0.05em 0 blue,
     0.075em 0.075em 0 red,
     0.1em 0.1em 0 black
  }

#questions-answers {
  border: none;
  border-radius: 25px;
  color: pink
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  
}

#question {
  padding-bottom: 50px;
}

#results {
  border: none;
  border-radius: 25px;
  color: pink
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.right-wrong {
  padding-top: 50px;
  font-weight: bold;
}

#answers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}